.entry_div{
    margin: 20px;
    border: 1px solid black;
    background-color: whitesmoke;
}

.entry_div img {
    width:400px;
    padding: 10px;
}
.entry_div p {
    width:400px;
    padding-top: 10px;
}

.entry_content{
    display: flex;
    justify-content: space-around;
}

button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    color: white;
    text-decoration: none;
}
.entry_form {
    margin: 0px 0px 0px 25px;
}
.list_buttons{
    display: flex;
    justify-content: flex-start;
}

.list_buttons button {
    margin: 5px 10px;
}

.extra-marg{
    margin-top: 5px;
}

.entry_heading {
    padding-left: 10px;
    padding-top: 10px;
}

.title{
    text-align: center;
}
.moto {
    font-size: 2.5rem;
    font-weight: 350;
    margin-left: 50px;
    margin-top: 50px;
}

.not_loged{
    display: flex;
    align-items: center;
}

.not_loged div{
    margin: 20px 20px;
}