{% load staticfiles %}

<!-- Basic block for navbar -->
{% block nav %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav_flex">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="navbar-brand" href="{% url 'Journal:landing_page' %}">Journey Journal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Journal:entry' user.id %}">Entry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Journal:entry_list' user.id %}">View Journal</a>
            </li>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Journal:logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav_flex">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

            <li>
                <a class="navbar-brand" href="{% url 'Journal:landing_page' %}">Journey Journal</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Journal:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Journal:register' %}">Register</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
{% endif %}

{% endblock %}